body {
    counter-reset: Serial;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    overflow-x: hidden;
}
#b1 {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow-x: auto;
}
#searchBox {
    margin-bottom: 10px;
    padding: px;
    font-size: 14px;
}
#mytable {
    width: 100%;
    border-collapse: collapse;
}
#mytable th, #mytable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}
th {
    color: rgba(0, 0, 0, 0.687);
}
td{
    display: table-cell;
}
tr td:first-child:before {
    counter-increment: Serial;
    content: counter(Serial);
}
tbody tr:hover {
    background-color: #f5f5f5;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}
h1 {
    padding: 20px;
    background-color: #0d6efd;
    color: black;
    margin: 0;
    text-align: center;
}
#header h4{
    text-align: right;
}
form {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap:inherit;
}
label, select, input, button {
    flex: 0 0 auto;
    margin-bottom: 16px;
    padding: 12px;
   /* Adjust the padding as needed */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
select, input {
    flex: 1 1 48%;
   /* Adjust the width as needed */
}
.submit-btn {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}
.submit-btn:hover {
    background-color: #45a049;
}
.verify-btn {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
.verified-btn {
    background-color: grey;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: not-allowed;
}
.scrape-btn{
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
.scraped-btn{
    background-color: grey;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: not-allowed;
}
.hidden {
    display: none;
}
.sidepanel {
    height: 100%;
    width: 250px;
    position:absolute;
    z-index: 1;
   /* Make sure it's above other elements */
    top: 0;
    left: 0;
    padding-top: 20px;
    color: white;
    transition: 0.02s;
    text-align: center;
    color: white;
}
.sidepanel:before {
    content:'';
    position:absolute;
    height:100vh;
    width:10px;
    top:0;
    left:100%;
    z-index:1;
}
.sidepanel span {
    position:relative;
    display:block;
    width:calc(100% - 2em);
    min-width:100px;
    padding:1em;
    background: #25b9ab;
}
.sidepanel .line {
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}
.line {
    height:1px;
    width:calc(100% - 44px);
    background-color:#E9D985;
    margin:0 22px;
}
.circle {
    position:absolute;
    width:44px;
    height:44px;
    border-radius:50%;
    font-size:16px;
    background-color:#ef4581;
    color:#f1f1f2;
    display:flex;
    justify-content:center;
    align-items:center;
    top:calc(50% - 22px);
    left:calc(100% - 22px);
    z-index:3;
    cursor:pointer;
}
.fa-chevron-left {
    margin-right:5px;
}
.fa-chevron-right {
    margin-left:5px;
}
.filterlabel {
    display: block;
    width: 175px;
}
