{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <style>
        /* Add your CSS styles here if needed */
        .hidden {
            display: none;
        }

        .update-btn {
            background-color: rgb(57, 103, 204);
            color: white;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
        }

        .delete-btn {
            background-color: rgb(218, 37, 37);
            color: white;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
        }

    </style>
</head>
<body>
    <h1>Dashboard</h1>

    <form>
        <label for="authorDropdown">Authors:</label>
<div class="dropdown">
    <button class="dropbtn">Authors</button>
    <div class="dropdown-content">
        {% for faculty_name in faculties %}
        <!-- Generate checkboxes for all authors -->
        <label>
            <input type="checkbox" name="author" value="{{ faculty_name }}"> {{ faculty_name }} 
        </label>
        {% endfor %}
    </div>
</div>

<!-- Rest of your HTML code -->

<style>
    /* Style the dropdown container */
    .dropdown {
        position: relative;
        display: inline-block;
    }

    /* Style the dropdown button */
    .dropbtn {
        padding: 20px;
        border: none;
        background-color: #f1f1f1;
        cursor: pointer;
    }

    /* Style the dropdown content (hidden by default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        z-index: 1;
        max-height: 150px;
        overflow-y: auto;
    }

    /* Style the checkboxes within the dropdown */
    .dropdown-content label {
        display: block;
        padding: 8px 12px;
        white-space: nowrap;
    }

    /* Show the dropdown content when the dropdown button is clicked */
    .dropdown:hover .dropdown-content {
        display: block;
    }
</style>


        <label for="quartile">Quartile:</label>
        <select id="quartile" name="quartile">
            <option value="all">All</option>
            <option value="q1">Q1</option>
            <option value="q2">Q2</option>
            <option value="q3">Q3</option>
            <option value="q4">Q4</option>
        </select>

        <label for="AY">AY:</label>
        <select id="AY" name="AY">
            <option value="all">All Years</option>
            <option value="JUL 2015 - JUN 2016">JUL 2015 - JUN 2016</option>
            <option value="JUL 2016 - JUN 2017">JUL 2016 - JUN 2017</option>
            <option value="JUL 2017 - JUN 2018">JUL 2017 - JUN 2018</option>
            <option value="JUL 2018 - JUN 2019">JUL 2018 - JUN 2019</option>
            <option value="JUL 2019 - JUN 2020">JUL 2019 - JUN 2020</option>
            <option value="JUL 2020 - JUN 2021">JUL 2020 - JUN 2021</option>
            <option value="JUL 2021 - JUN 2022">JUL 2021 - JUN 2022</option>
            <option value="JUL 2022 - JUN 2023">JUL 2022 - JUN 2023</option>
            <option value="JUL 2023 - JUN 2024">JUL 2023 - JUN 2024</option>
        </select>

        <label>
            <input type="checkbox" name="scopus"> Scopus
        </label>
        
        <label>
            <input type="checkbox" name="webOfSciences"> Web of Sciences
        </label>
        
        <button class="submit-btn" type="button" onclick="applyFilter()">Search</button>
    </form>

    <div class="container" id="b1">
        <input type="text" class="form-control" id="searchBox" placeholder="Search..." oninput="filterTable()">
        <table id="mytable" class="table table-bordered table-striped">
            <thead class="bg-primary text-white">
                <tr>
                    <th>S.No</th>
                    <th>UniqueID</th>
                    <th onclick="sortTable(2)">Title</th>
                    <th>Academic Year</th>
                    <th>First Author</th>
                    <th>Second Author</th>
                    <th>Third Author</th>
                    <th>Other Authors</th>
                    <th>Is Student Author</th>
                    <th>Student Name</th>
                    <th>Student Batch</th>
                    <th>Specification</th>
                    <th>Publication Type</th>
                    <th>Publication Name</th>
                    <th>Publisher</th>
                    <th onclick="sortTablenum(15)">Publication Year</th>
                    <th>Publication Month</th>
                    <th>Volume</th>
                    <th>Page Numbers</th>
                    <th>Indexing</th>
                    <th>Quartile</th>
                    <th onclick="sortTablenum(21)">Citations</th>
                    <th>DOI</th>
                    <th>FPP</th>
                    <th>URL</th>
                    <th>ISSN</th>
                    <th onclick="sortTable(26)">Faculty Verification Status</th>
                    <th onclick="sortTable(27)">Verification</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="tableBody">
                {% for paper in papers %}
                <tr data-uniqueid="{{ paper.uniqueid }}">

                    <td></td>
                    <td>{{ paper.uniqueid }}</td>
                    <td>{{ paper.title }}</td>
                    <td>{{ paper.start_academic_month }} {{ paper.start_academic_year }} - {{ paper.end_academic_month }} {{ paper.end_academic_year }}</td>
                    <td>{{ paper.first_author }}</td>
                    <td>{{ paper.second_author }}</td>
                    <td>{{ paper.third_author }}</td>
                    <td>{{ paper.other_authors }}</td>
                    <td>{{ paper.is_student_author }}</td>
                    <td>{{ paper.student_name }}</td>
                    <td>{{ paper.student_batch }}</td>
                    <td>{{ paper.specification }}</td>
                    <td>{{ paper.publication_type }}</td>
                    <td>{{ paper.publication_name }}</td>
                    <td>{{ paper.publisher }}</td>
                    <td>{{ paper.year_of_publishing }}</td>
                    <td>{{ paper.month_of_publishing }}</td>
                    <td>{{ paper.volume }}</td>
                    <td>{{ paper.page_number }}</td>
                    <td>{{ paper.indexing }}</td>
                    <td>{{ paper.quartile }}</td>
                    <td>{{ paper.citation }}</td>
                    <td>{{ paper.doi }}</td>
                    {% if paper.front_page_path == 'NULL' or paper.front_page_path == 'None' %}
                        <td>{{ paper.front_page_path }}</td>
                    {% else %}
                        <td><a href="/{{ paper.front_page_path }}" target="_blank">View File</a></td>
                    {% endif %}
                    <td><a href="{{ paper.url }}" target="_blank">{{ paper.url }}</a></td>
                    <td>{{ paper.issn }}</td>    
                    {% if paper.verified == 'False' %}
                    <td>Unverified</td>
                    {% endif %}
                    {% if paper.verified == 'True' %}
                    <td>Verified</td>
                    {% endif %}
                    {% if paper.admin_verified == 'False' %}
                    <td><button id="verificationButton" class="verify-btn" onclick="verify(this.value)" value="{{ paper.uniqueid }}">Verify</button></td>
                    {% endif %}
                    {% if paper.admin_verified == 'True' %}
                    <td><button id="verificationButton" class="verified-btn" disabled>Verified</button></td> 
                    {% endif %}
                    <td><button id="updateButton" class="update-btn" value="{{ paper.uniqueid }}" onclick="edit_paper(this.value)">Edit</button>
                    <button id="deleteButton" class="delete-btn" value="{{ paper.uniqueid }}" onclick="delete_paper(this.value)">Delete</button>
                    {% if paper.front_page_path == 'NULL' or paper.front_page_path == 'None' %}
                    <button id="uploadButton" class="verify-btn" onclick="upload(this.value)" value="{{ paper.uniqueid }}">Upload</button>
                    {% else %}
                    <button id="uploadButton" class="verify-btn" onclick="upload(this.value)" value="{{ paper.uniqueid }}">Reupload</button>
                    <button id="removeButton" class="delete-btn" onclick="remove_upload(this.value)" value="{{ paper.uniqueid }}">Remove Upload</button>
                    {% endif %}
                    </td>
                {% endfor %}
                <tr>
                    <td></td>
                    <td><input type="text" name="uniqueid" maxlength="100" id="id_uniqueid" disabled></td>
                    {% for field in form %}
                        {% if field.name == 'first_author' %}
                            <td>
                                <select id="id_AY" name="AY">
                                    <option value="JUL 2015 - JUN 2016">JUL 2015 - JUN 2016</option>
                                    <option value="JUL 2016 - JUN 2017">JUL 2016 - JUN 2017</option>
                                    <option value="JUL 2017 - JUN 2018">JUL 2017 - JUN 2018</option>
                                    <option value="JUL 2018 - JUN 2019">JUL 2018 - JUN 2019</option>
                                    <option value="JUL 2019 - JUN 2020">JUL 2019 - JUN 2020</option>
                                    <option value="JUL 2020 - JUN 2021">JUL 2020 - JUN 2021</option>
                                    <option value="JUL 2021 - JUN 2022">JUL 2021 - JUN 2022</option>
                                    <option value="JUL 2022 - JUN 2023">JUL 2022 - JUN 2023</option>
                                </select>
                            </td>
                        {% endif %}
                        <td>{{ field }}</td>
                    {% endfor %}
                    <td>Unverified</td>
                    <td><button id="fetchData" class="scrape-btn" onclick="scrapeData()">Fetch</button></td>
                
                </tr>
            </tbody>
        </table>
        <button id="downloadCSV" class="scrape-btn" onclick="downloadCSV()">Download CSV</button>
    </div>
</body>

    <!-- Bootstrap JS (Popper.js and Bootstrap JS) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'js/admin_script.js' %}"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script>



    function verify(uniqueid) {
        // Perform verification logic here
        // console.log(uniqueid)
        // Change button style
    
    
        $.ajax({
            type: "POST",
            url: "{% url 'admin_verify_paper' %}",
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                uniqueid: uniqueid
            },
            success: function(response) {
                alert(response);
            }
        });
    
        var btnelts = document.getElementsByClassName('verify-btn')
    
        var btnlen = btnelts.length
        for (var i = 0; i < btnlen; i++) {
            // console.log(btnelts[i])
            if (btnelts[i].value == uniqueid) {
                var btn = btnelts[i]
                break
            }
        }
        // console.log(btn)
        btn.classList.remove('verify-btn');
        btn.classList.add('verified-btn');
        btn.innerText = "Verified";
    }
    
    function delete_paper(uniqueid){
        $.ajax({
            type: "POST",
            url: "{% url 'admin_delete_paper' %}",
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                uniqueid: uniqueid
            },
            success: function(response) {
                alert(response);
                window.location.reload();
            }
        });
    }
    
    
    
    function update_paper(uniqueId) {
        // Find the row based on the UniqueID
        var row = document.querySelector('#tableBody tr[data-uniqueid="' + uniqueId + '"]');
    
        if (row) {
            var headersRow = document.querySelector('#mytable thead tr');
            var updatedData = {};
    
            // Loop through each cell in the row
            Array.from(row.cells).forEach(function (cell, index) {
                if (index === findHeaderIndex("S.No") || index === findHeaderIndex("Actions") || index === findHeaderIndex("Verification")){
                    // Skip the first, last, and second last cells
                    return;
                }
    
                // Get the content of the cell
                var cellContent;
    
                if (index === indHeaderIndex("Academic Year")) {
                    // For the third cell (select element)
                    var selectElement = cell.querySelector('select');
                    cellContent = selectElement ? selectElement.value : '';
                } else if (index === findHeaderIndex("Title") || index === findHeaderIndex("URL")) {
                    // For Title and Faculty Verification Status cells (textarea)
                    var textareaElement = cell.querySelector('textarea');
                    cellContent = textareaElement ? textareaElement.value : '';
                } else {
                    // For other cells (input elements)
                    var inputElement = cell.querySelector('input');
                    cellContent = inputElement ? inputElement.value : '';
                }
    
                // Get the corresponding header from the headers row
                var headerCell = headersRow.cells[index];
                var headerText = headerCell.textContent.trim();
    
                // Add the data to the updatedData object with the header as the key
                updatedData[headerText] = cellContent;
            });
    
            // Now, updatedData contains the data with headers as keys
            console.log(updatedData);
    
            $.ajax({
                type: "POST",
                url: "{% url 'admin_update_paper' %}",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    uniqueid: uniqueId,
                    title: updatedData['Title'],
                    AY: updatedData['Academic Year'],
                    first_author: updatedData['First Author'],
                    second_author: updatedData['Second Author'],
                    third_author: updatedData['Third Author'],
                    other_authors: updatedData['Other Authors'],
                    is_student_author: updatedData['Is Student Author'],
                    student_name: updatedData['Student Name'],
                    student_batch: updatedData['Student Batch'],
                    specification: updatedData['Specification'],
                    publication_type: updatedData['Publication Type'],
                    publication_name: updatedData['Publication Name'],
                    publisher: updatedData['Publisher'],
                    year_of_publishing: updatedData['Publication Year'],
                    month_of_publishing: updatedData['Publication Month'],
                    volume: updatedData['Volume'],
                    page_number: updatedData['Page Numbers'],
                    indexing: updatedData['Indexing'],
                    quartile: updatedData['Quartile'],
                    citation: updatedData['Citations'],
                    doi: updatedData['DOI'],
                    url: updatedData['URL'],
                    issn: updatedData['ISSN'],
                    front_page_path: updatedData['FPP']
                },
                success: function (response) {
                    alert(response);
                    // Reload the page after the successful update
                    location.reload();
                },
                error: function (error) {
                    alert(error);
                }
            });
    
        }
    }
    
    
    
    
    function scrapeData() {
    
        title_text = document.getElementById("id_title");
        doi_text = document.getElementById("id_doi");
    
    
        title = title_text.value;
        doi = doi_text.value;
    
        if (doi == "") {
            alert("Please fill DOI field and try again!")
        } else {
            disableFetch();
    
            // console.log(doi);
    
            var myResponse;
    
            setTimeout(function() {
                $.ajaxSetup({
                    async: false
                });
    
                $.ajax({
                    type: "POST",
                    url: "{% url 'scrape_data' %}",
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        title: title,
                        doi: doi
                    },
                    success: function(response) {
                        // console.log(response.title, response.uniqueid);
                        myResponse = response;
                    }
                });
    
    
    
                // console.log(myResponse);
    
                if (myResponse == "Cannot fetch data for the given search term!") {
                    alert(myResponse);
                    enableFetchNoResponse();
                    return null;
                } else if (myResponse == "Cannot fetch only with DOI, please provide title also.") {
                    alert(myResponse);
                    enableFetchNoResponse();
                    document.getElementById("id_title").disabled = false;
                    return null;
                }
    
                document.getElementById("id_title").value = myResponse.title;
                document.getElementById("id_uniqueid").value = myResponse.uniqueid;
                document.getElementById('id_first_author').value = myResponse.first_author;
                document.getElementById('id_second_author').value = myResponse.second_author;
                document.getElementById('id_third_author').value = myResponse.third_author;
                document.getElementById('id_other_authors').value = myResponse.other_authors;
                document.getElementById('id_is_student_author').value = myResponse.is_student_author;
                document.getElementById('id_student_name').value = myResponse.student_name;
                document.getElementById('id_student_batch').value = myResponse.student_batch;
                document.getElementById('id_specification').value = myResponse.specification;
                document.getElementById('id_publication_type').value = myResponse.publication_type;
                document.getElementById('id_publication_name').value = myResponse.publication_name;
                document.getElementById('id_publisher').value = myResponse.publisher;
                document.getElementById('id_year_of_publishing').value = myResponse.year_of_publishing;
                document.getElementById('id_month_of_publishing').value = myResponse.month_of_publishing;
                document.getElementById('id_volume').value = myResponse.volume;
                // console.log(myResponse.volume);
                document.getElementById('id_page_number').value = myResponse.page_number;
                document.getElementById('id_indexing').value = myResponse.indexing;
                // console.log(myResponse.citations);
                document.getElementById('id_quartile').value = myResponse.quartile;
                document.getElementById('id_citation').value = myResponse.citation;
                document.getElementById('id_doi').value = myResponse.doi;
                document.getElementById('id_front_page_path').value = "Yet to upload";
                document.getElementById('id_url').value = myResponse.url;
                document.getElementById('id_issn').value = myResponse.ISSN;
    
                document.getElementById('id_title').disabled = myResponse.title == "NULL" ? false : true;
                document.getElementById('id_AY').disabled = false;
                document.getElementById('id_first_author').disabled = myResponse.first_author == "NULL" ? false : true;
                document.getElementById('id_second_author').disabled = myResponse.second_author == "NULL" ? false : true;
                document.getElementById('id_third_author').disabled = myResponse.third_author == "NULL" ? false : true;
                document.getElementById('id_other_authors').disabled = myResponse.other_authors == "NULL" ? false : true;
                document.getElementById('id_is_student_author').disabled = myResponse.is_student_author == "NULL" ? false : true;
                document.getElementById('id_student_name').disabled = myResponse.student_name == "NULL" ? false : true;
                document.getElementById('id_student_batch').disabled = myResponse.student_batch == "NULL" ? false : true;
                document.getElementById('id_specification').disabled = myResponse.specification == "NULL" ? false : true;
                document.getElementById('id_publication_type').disabled = myResponse.publication_type == "NULL" ? false : true;
                document.getElementById('id_publication_name').disabled = myResponse.publication_name == "NULL" ? false : true;
                document.getElementById('id_publisher').disabled = myResponse.publisher == "NULL" ? false : true;
                document.getElementById('id_year_of_publishing').disabled = myResponse.year_of_publishing == "NULL" ? false : true;
                document.getElementById('id_month_of_publishing').disabled = myResponse.month_of_publishing == "NULL" ? false : true;
                document.getElementById('id_volume').disabled = myResponse.volume == "NULL" ? false : true;
                document.getElementById('id_page_number').disabled = myResponse.page_number == "NULL" ? false : true;
                document.getElementById('id_indexing').disabled = myResponse.indexing == "NULL" ? false : true;
                document.getElementById('id_quartile').disabled = myResponse.quartile == "NULL" ? false : true;
                document.getElementById('id_citation').disabled = myResponse.citation == "NULL" ? false : true;
                document.getElementById('id_doi').disabled = true
                document.getElementById('id_front_page_path').disabled = true;
                document.getElementById('id_url').disabled = myResponse.url == "NULL" ? false : true;
                document.getElementById('id_issn').disabled = myResponse.ISSN == "NULL" ? false : true;
                document.getElementById('fetchData').disabled = false;
                document.getElementById('fetchData').innerHTML = "Submit";
    
                document.getElementById('fetchData').setAttribute('onclick', 'submitData()')
    
                enableFetch();
    
            }, 2500);
    
        }
    
    }
    
    function submitData() {
    
        uniqueid = document.getElementById('id_uniqueid').value;
        title = document.getElementById('id_title').value;
        AY = document.getElementById("id_AY").options[document.getElementById("id_AY").selectedIndex].value;
        first_author = document.getElementById('id_first_author').value;
        second_author = document.getElementById('id_second_author').value;
        third_author = document.getElementById('id_third_author').value;
        other_authors = document.getElementById('id_other_authors').value;
        is_student_author = document.getElementById('id_is_student_author').value;
        student_name = document.getElementById('id_student_name').value;
        student_batch = document.getElementById('id_student_batch').value;
        specification = document.getElementById('id_specification').value;
        publication_type = document.getElementById('id_publication_type').value;
        publication_name = document.getElementById('id_publication_name').value;
        publisher = document.getElementById('id_publisher').value;
        year_of_publishing = document.getElementById('id_year_of_publishing').value;
        month_of_publishing = document.getElementById('id_month_of_publishing').value;
        volume = document.getElementById('id_volume').value;
        page_number = document.getElementById('id_page_number').value;
        indexing = document.getElementById('id_indexing').value;
        quartile = document.getElementById('id_quartile').value;
        citation = document.getElementById('id_citation').value;
        doi = document.getElementById('id_doi').value;
        front_page_path = document.getElementById('id_front_page_path').value;
        url = document.getElementById('id_url').value;
        issn = document.getElementById('id_issn').value;
    
        // var myResponse;
    
        $.ajax({
            type: "POST",
            url: "{% url 'admin_insert_paper' %}",
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                uniqueid: uniqueid,
                title: title,
                AY: AY,
                first_author: first_author,
                second_author: second_author,
                third_author: third_author,
                other_authors: other_authors,
                is_student_author: is_student_author,
                student_name: student_name,
                student_batch: student_batch,
                specification: specification,
                publication_type: publication_type,
                publication_name: publication_name,
                publisher: publisher,
                year_of_publishing: year_of_publishing,
                month_of_publishing: month_of_publishing,
                volume: volume,
                page_number: page_number,
                indexing: indexing,
                quartile: quartile,
                citation: citation,
                doi: doi,
                front_page_path: front_page_path,
                url: url,
                issn: issn
            },
            success: function(response) {
                alert(response);
                // myResponse = response;
            }
        });
    
        location.reload();
    }
    
    
    
    function remove_upload(uniqueid){
        $.ajax({
            type: "POST",
            url: "{% url 'remove_upload' %}",
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                uniqueid: uniqueid
            },
            success: function(response) {
                alert(response);
                window.location.reload();
            }
        });
    
    }
    
    
    </script>
    
</html>


