<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ paper.title }}</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
    <div class="container mx-auto py-8">
        <h1 class="text-3xl font-bold mb-8">
            {{ paper.title }}
        </h1>
        <table id="publicationTable" class="table table-striped">
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
            <tr>
                <td>Unique ID</td>
                <td>{{ paper.uniqueid }}</td>
            </tr>
            <tr>
                <td>Title</td>
                <td>{{ paper.title }}</td>
            </tr>
            <tr>
                <td>Academic Year</td>
                <td>{{ paper.start_academic_month }} {{ paper.start_academic_year }} - {{ paper.end_academic_month }} {{ paper.end_academic_year }}</td>
            </tr>
            <tr>
                <td>First Author</td>
                <td>{{ paper.first_author }}</td>
            </tr>
            <tr>
                <td>Second Author</td>
                <td>{{ paper.second_author }}</td>
            </tr>
            <tr>
                <td>Third Author</td>
                <td>{{ paper.third_author }}</td>
            </tr>
            <tr>
                <td>Other Authors</td>
                <td>{{ paper.other_authors }}</td>
            </tr>
            <tr>
                <td>Student Author</td>
                <td>{{ paper.is_student_author }}</td>
            </tr>
            <tr>
                <td>Student Name</td>
                <td>{{ paper.student_name }}</td>
            </tr>
            <tr>
                <td>Student Batch</td>
                <td>{{ paper.student_batch }}</td>
            </tr>
            <tr>
                <td>Specification</td>
                <td>{{ paper.specification }}</td>
            </tr>
            <tr>
                <td>Publication Type</td>
                <td>{{ paper.publication_type }}</td>
            </tr>
            <tr>
                <td>Publication Name</td>
                <td>{{ paper.publication_name }}</td>
            </tr>
            <tr>
                <td>Publisher</td>
                <td>{{ paper.publisher }}</td>
            </tr>
            <tr>
                <td>Publication Year</td>
                <td>{{ paper.year_of_publishing }}</td>
            </tr>
            <tr>
                <td>Publication Month</td>
                <td>{{ paper.month_of_publishing }}</td>
            </tr>
            <tr>
                <td>Volume</td>
                <td>{{ paper.volume }}</td>
            </tr>
            <tr>
                <td>Page Numbers</td>
                <td>{{ paper.page_number }}</td>
            </tr>
            <tr>
                <td>Indexing</td>
                <td>{{ paper.indexing }}</td>
            </tr>
            <tr>
                <td>Quartile</td>
                <td>{{ paper.quartile }}</td>
            </tr>
            <tr>
                <td>Citations</td>
                <td>{{ paper.citation }}</td>
            </tr>
            <tr>
                <td>DOI</td>
                <td>{{ paper.doi }}</td>
            </tr>
            <tr>
                <td>ISSN</td>
                <td>{{ paper.issn }}</td>
            </tr>
            <tr>
                <td>Faculty Verification Status</td>
                {% if paper.verified == 'True' %}
                    <td> Verified </td>
                {% else %}
                    <td> Unverified </td>
                {% endif %}
            </tr>
        </table>
        <div class="mt-8">
            {% if paper.front_page_path == 'NULL' or paper.front_page_path == 'None' or not paper.front_page_path %}
                <a href="/rpa/dbadmin/paper/upload/{{paper.uniqueid}}" id="frontPageBtn" class="btn btn-primary" target="_blank">Upload Front Page</a>
            {% else %}
                <a href="/{{ paper.front_page_path }}/admin" id="frontPageBtn" class="btn btn-primary" target="_blank">Download Front Page</a>
                <a href="/rpa/dbadmin/paper/upload/{{paper.uniqueid}}" id="frontPageBtn" class="btn btn-secondary" target="_blank">Reupload Front Page</a>
                <button class="btn btn-warning" id="frontPageBtn" onclick="remove_upload()">Remove Front Page</button>
            {% endif %}

            <a href="{{ paper.url }}" id="viewBtn" class="btn btn-success" target="_blank">View Publication</a>

            {% if paper.admin_verified == 'False' and paper.verified == 'True' %}
                <button id="verify-btn" id="verifyBtn" type="button" class="btn btn-danger text-white" value="{{ paper.uniqueid }}" onclick="verify()">
                    Verify
                </button>
            {% elif paper.admin_verified == 'True' and paper.verified == 'True' %}
                <button type="button" id="verifyBtn" class="btn btn-danger text-white" disabled>Verified</button>
            {% endif %}

            <button id="edit-btn" class="btn btn-info" onclick = "edit_paper()">Edit</button>
            <button id="deleteBtn" class="btn btn-danger" onclick = "delete_paper()">Delete</button>            
        </div>
    </div>

    {% load static %}
    <script type="application/x-javascript" src="{% static 'js/admin_publication.js' %}"></script>
    <script type="application/x-javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
        
        function verify(){

            if ("{{ name }}" != "admin"){
                alert("You are not authorized to verify!");
                window.location.replace("/rpa/dbadmin/error");
            }

            var updates = {};

            updates['uniqueid'] = '{{ paper.uniqueid }}';
            updates['csrfmiddlewaretoken'] = '{{ csrf_token }}';

            var result;

            $.ajaxSetup({
                async: false
            });

            $.ajax({
                type: "POST",
                url: "{% url 'admin_verify_paper' %}",
                data: updates,
                success: function(response){
                    result = response;
                }
            })

            if (result === 'Unauthorized'){
                alert("You are unauthorized to verify!");
                window.location.replace("/rpa/dbadmin/error");
            }

            else if (result === "Paper not found!"){
                alert("Paper not found in database!");
                window.location.replace("/rpa/dbadmin/error");
            }
    
            else if (result === "OK"){
                alert("Update success!");
                window.location.reload();
            }
            else{
                window.location.replace("/rpa/dbadmin/error");
            }
        }

        function remove_upload(){
            
            if ("{{ name }}" != "admin"){
                alert("You are not authorized to verify!");
                window.location.replace("/rpa/dbadmin/error");
            }

            var updates = {};

            updates['uniqueid'] = '{{ paper.uniqueid }}';
            updates['csrfmiddlewaretoken'] = '{{ csrf_token }}';

            var result;
            

            $.ajaxSetup({
                async: false
            });

            $.ajax({
                type: "POST",
                url: "{% url 'admin_remove_upload' %}",
                data: updates,  
                success: function(response){
                    result = response;
                }
            })

            

            if (result === 'Unauthorized'){
                alert("You are unauthorized to verify!");
                window.location.replace("/rpa/dbadmin/error");
            }

            else if (result === "Paper not found!"){
                alert("Paper not found in database!");
                window.location.replace("/rpa/dbadmin/error");
            }
    
            else if (result === "OK"){
                alert("Update success!");
                window.location.reload();
            }
            else{
                window.location.replace("/rpa/dbadmin/error");
            }

        }

        function edit_paper(){
            if ("{{ name }}" != "admin"){
                alert("You are unauthorized to edit this paper!");
                window.location.replace("/rpa/dbadmin/error");
            }

            document.getElementById("frontPageBtn").hidden = true;
            document.getElementById("viewBtn").hidden = true;
            document.getElementById("deleteBtn").hidden = true;
            if (document.getElementById("verifyBtn")){
                document.getElementById("verifyBtn").hidden = true;
            }
        
            var table = document.getElementById("publicationTable")
            for(var i = 1, row; row = table.rows[i]; i++){


                var cell = row.cells[1];

                if (i == getIndexByKey('Student Author')){
                    var selectElement = document.createElement('select');
                    selectElement.id = 'studentAuthor';
                    selectElement.name = 'studentAuthor';
                    var optionElement = document.createElement('option');
                    optionElement.value = "No";
                    optionElement.textContent = "No";
                    selectElement.appendChild(optionElement);
                    var optionElement = document.createElement('option');
                    optionElement.value = "Yes";
                    optionElement.textContent = "Yes";
                    selectElement.appendChild(optionElement);
                    selectElement.classList.add("form-control");
        
                    selectElement.value = (cell.textContent.trim() ==="Yes" || cell.textContent.trim() === "No") ? cell.textContent.trim() : "No"
        
                    cell.innerHTML = '';
                    cell.appendChild(selectElement);
                }
        
                else if (i == getIndexByKey('Publication Month')){
                    var inputElement = document.createElement("input");
                    inputElement.setAttribute("min", "0");
                    inputElement.setAttribute("max", "12");
                    inputElement.value = cell.textContent.trim();
                    inputElement.classList.add("form-control");
                    cell.innerHTML = "";
                    cell.appendChild(inputElement);
                }
        
                else if (i == getIndexByKey('Volume')){
                    var inputElement = document.createElement("input");
                    inputElement.setAttribute("min", "0");
                    inputElement.value = cell.textContent.trim();
                    inputElement.classList.add("form-control");
                    cell.innerHTML = "";
                    cell.appendChild(inputElement);
                }
        
                else if (i == getIndexByKey('Citations')){
                    var inputElement = document.createElement("input");
                    inputElement.setAttribute("min", "0");
                    inputElement.value = cell.textContent.trim();
                    inputElement.classList.add("form-control");
                    cell.innerHTML = "";
                    cell.appendChild(inputElement);
                }
        
                else if(i == getIndexByKey('Academic Year')){
                    var selectElement = document.createElement('select');
                    selectElement.id = 'AY';
                    selectElement.name = 'AY';
                    selectElement.classList.add('form-control');
                    var academic_years = ["JUL 2015 - JUN 2016",
                                        "JUL 2016 - JUN 2017",
                                        "JUL 2017 - JUN 2018",
                                        "JUL 2018 - JUN 2019",
                                        "JUL 2019 - JUN 2020",
                                        "JUL 2020 - JUN 2021",
                                        "JUL 2021 - JUN 2022",
                                        "JUL 2022 - JUN 2023",
                                        "JUL 2023 - JUN 2024"]
                    for (var j = 0; j < academic_years.length; j++){
                        var optionElement = document.createElement('option');
                        optionElement.value = academic_years[j];
                        optionElement.textContent = academic_years[j];
                        selectElement.appendChild(optionElement);
                    } 

                    cell.innerHTML = '';
                    cell.appendChild(selectElement);
        
                    if (academic_years.includes(cell.textContent.trim())){
                        selectElement.value = cell.textContent.trim();
                    }


                }
        
                else if(i == getIndexByKey('Faculty Verification Status') || i == getIndexByKey("DOI") || i == getIndexByKey("Unique ID")){
                    continue;
                }

                else{
                    // Replace the cell content with a textbox
                    var textBox = document.createElement("input");
                    textBox.type = "text";
                    textBox.value = cell.textContent.trim();
                    textBox.classList.add("form-control");
                    cell.innerHTML = "";
                    cell.appendChild(textBox);
                }
            }
            var btn = document.getElementById("edit-btn")
            btn.innerHTML = "Update";
            btn.setAttribute("onclick", "update_paper()");
        }

        function update_paper(){
    
            if ("{{ name }}" != "admin"){
                alert("You are unauthorized to edit this paper!");
                window.location.reload("/rpa/dbadmin/error");
            }
        
            var table = document.getElementById("publicationTable");
            var updates = {};
            for (var i = 1, row; row = table.rows[i]; i++) {
                var cell = row.cells[1];
        
                input_in_cell = cell.getElementsByTagName("input")[0];
                select_in_cell = cell.getElementsByTagName("select")[0];
        
                if (input_in_cell){
                    var inputElement = cell.querySelector('input');
                    if (inputElement) {
                        cellContent = inputElement ? inputElement.value : '';
                    } else {
                        cellContent = cell.textContent.trim();
                    }
                    updates[convertToSnakeCase(getKeyByIndex(i))] = cellContent;
                }
                else if (select_in_cell){
                    var selectElement = cell.querySelector('select');
                    cellContent = selectElement ? selectElement.value : '';
                    updates[convertToSnakeCase(getKeyByIndex(i))] = cellContent;
                }
            }
            updates['uniqueid'] = '{{ paper.uniqueid }}';
            updates['csrfmiddlewaretoken'] = '{{ csrf_token }}';
        
            var result;
        
            $.ajaxSetup({
                async: false
            });
        
            $.ajax({
                type: "POST",
                url: "{% url 'admin_update_paper' %}",
                data: updates,
                success: function(response){
                    result = response;
                }
            })

        
            if (result === 'Unauthorized'){
                window.location.replace("/rpa/dbadmin/error");
            }
            
            else if (result === "Paper not found!"){
                alert("Paper not found in database!");
                window.location.replace("/rpa/dbadmin/error");
            }    
            else if (result === "OK"){
                alert("Update success!");
                window.location.reload();
            }
        
            else{
                window.location.replace("/rpa/dbadmin/error");
            }
            document.getElementById("frontPageBtn").hidden = true;
            document.getElementById("viewBtn").hidden = true;
            document.getElementById("deleteBtn").hidden = true;
            document.getElementById("verifyBtn").hidden = true;
        }

        function delete_paper(){
            if ("{{ name }}" != "admin"){
                alert("You are unauthorized to delete this paper!");
                window.location.reload("/rpa/dbadmin/error");
            }

            var updates = {};

            updates["uniqueid"] = "{{ paper.uniqueid }}";

            updates["csrfmiddlewaretoken"] = "{{ csrf_token }}";

            var result;
        
            $.ajaxSetup({
                async: false
            });
        
            $.ajax({
                type: "POST",
                url: "{% url 'admin_delete_paper' %}",
                data: updates,
                success: function(response){
                    result = response;
                }
            })
            
            if (result == "Paper not found!"){
                alert("Paper does not exist!");
                window.location.replace("/rpa/dbadmin/error");
            }
            
            else if (result == "OK"){
                alert("Paper deleted successfully!");
                window.location.replace("/rpa/dbadmin/home");
            }

            console.log(result);

        }
        

    </script>

</body>
</html>
