{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charts</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.7.2/css/uikit.min.css" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.chart-container {
    border: 2px solid #242323;
    padding: 10px;
}


    </style>
</head>
<body class="bg-gray-100">
    
        <div class="container mx-auto py-4">
            <div class="flex justify-between items-center mb-4">
                <img src="{% static 'img/ssn.jpg' %}" class="h-8 w-16" alt="SSN Logo">
                <div class="text-center flex-grow">
                    <h1 class="text-4xl font-bold mb-4">Department of Information Technology</h1>
                    <h1 class="text-3xl font-bold mb-4">Analytics</h1>
                </div>
                <div class="profile-btn">
                    <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        Profile
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                        <li class="text-center mb-2">Hi {{ name }}! 👋</li>
                        <hr>
                        <li><a class="dropdown-item" href="/rpa/dbadmin/get_doi">Add Publication</a></li>
                        <li><a class="dropdown-item" href="/rpa/dbadmin/manual_add_paper">Manually Add Publication</a></li>
                        <li><a class="dropdown-item" href="/rpa/dbadmin/home">All Publications</a></li>
                        <li><a class="dropdown-item" href="/rpa/dbadmin/dashboard">Advanced Dashboard</a></li>
                        <li><a class="dropdown-item" href="/rpa/dbadmin/charts">Analytics</a></li>
                        <li><a class="dropdown-item" href="/rpa/dbadmin/verification">Verify Publications</a></li>
                        <li><button onclick="logOut()" class="dropdown-item btn btn-danger">Logout</button></li>
                    </ul>
                </div>
            </div>
        
            <div class="flex justify-end mb-4">
                <form method="post" action="{% url 'admin_get_charts' %}" class="flex items-center">
                    {% csrf_token %}
                    <select id="AY" name="AY" class="form-select">
                        <option value="all">All Years</option>
                        <option value="JUL 2015 - JUN 2016">JUL 2015 - JUN 2016</option>
                        <option value="JUL 2016 - JUN 2017">JUL 2016 - JUN 2017</option>
                        <option value="JUL 2017 - JUN 2018">JUL 2017 - JUN 2018</option>
                        <option value="JUL 2018 - JUN 2019">JUL 2018 - JUN 2019</option>
                        <option value="JUL 2019 - JUN 2020">JUL 2019 - JUN 2020</option>
                        <option value="JUL 2020 - JUN 2021">JUL 2020 - JUN 2021</option>
                        <option value="JUL 2021 - JUN 2022">JUL 2021 - JUN 2022</option>
                        <option value="JUL 2022 - JUN 2023">JUL 2022 - JUN 2023</option>
                        <option value="JUL 2023 - JUN 2024">JUL 2023 - JUN 2024</option>
                    </select>
                </form>
            </div>
    
    <div class="grid-container">
        <div class="chart-container">
            <h1><strong class="chart-title">Indexed Publications</strong></h1>
            <canvas id="donutChart" width="400" height="400"></canvas>
            <button class="text-primary underline" onclick="downloadChart('donutChart')">Download</button>
        </div>
        <div class="chart-container">
            <h1><strong class="chart-title">Academic Yearwise Publications</strong></h1>
            <canvas id="barChart" width="400" height="400"></canvas>
            <button class="text-primary underline" onclick="downloadChart('barChart')">Download</button>
        </div>
        <div class="chart-container">
            <h1><strong class="chart-title">Publication Type</strong></h1>
            <canvas id="publicationTypeBarChart" width="400" height="400"></canvas>
            <button class="text-primary underline" onclick="downloadChart('publicationTypeBarChart')">Download</button>
        </div>
        <div class="chart-container">
            <h1><strong class="chart-title">Publication Quartiles</strong></h1>
            <canvas id="quartileBarChart" width="400" height="400"></canvas>
            <button class="text-primary underline" onclick="downloadChart('quartileBarChart')">Download</button>
        </div>
    </div>
    <div>
        <div class="chart-container mt-3">
            <h1><strong class="chart-title">Yearly Publications Quartiles</strong></h1>
            <canvas id="yearlyQuartilesBarChart" width="400" height="400"></canvas>
            <button class="text-primary underline" onclick="downloadChart('yearlyQuartilesBarChart')">Download</button>
        </div>
        
    </div>
    <script type="application/x-javascript" src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.7.2/js/uikit.min.js"></script>
    <script type="application/x-javascript" src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.7.2/js/uikit-icons.min.js"></script>
    <script type="application/x-javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script type="application/x-javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Add event listener to select element
            document.getElementById("AY").addEventListener("change", function() {
                // Submit the form when the select element changes
                document.querySelector("form").submit();
            });
        });

        // Retrieve data passed from the view
        var donutLabels = {{ donut_labels | safe }};
        var donutValues = {{ donut_values | safe }};
        var barLabels = {{ bar_labels | safe }};
        var barValues = {{ bar_values | safe }};
        var publicationTypeLabels = {{ publication_type_labels | safe }};
        var publicationTypeValues = {{ publication_type_values | safe }};
        var quartileLabels = {{ quartile_labels | safe }};
        var quartileValues = {{ quartile_values | safe }};
        var yearwiseLabels = {{ yearwise_label | safe}};
        var yearwiseValues = {{ yearwise_values | safe}};

function downloadChart(chartId) {
    var chartCanvas = document.getElementById(chartId);
    var chartContext = chartCanvas.getContext('2d');

    // Get the chart title
    var chartTitle = chartCanvas.closest('.chart-container').querySelector('.chart-title').innerText;

    // Create a temporary canvas
    var tempCanvas = document.createElement('canvas');
    tempCanvas.width = chartCanvas.width;
    tempCanvas.height = chartCanvas.height + 80; // Add extra height for title
    var tempContext = tempCanvas.getContext('2d');

    // Set the background color to white
    tempContext.fillStyle = '#ffffff';
    tempContext.fillRect(0, 0, tempCanvas.width, tempCanvas.height);

    // Draw the chart onto the temporary canvas
    tempContext.drawImage(chartCanvas, 15, 50); // Start drawing from y-coordinate 30 for title

    // Add the chart title
    tempContext.font = 'bold 25px Arial';
    tempContext.fillStyle = '#000000';
    tempContext.textAlign = 'center';
    //tempContext.fillText(chartTitle, tempCanvas.width / 2, 20);
    var titleY = 30; // Adjust the space between top and title here
    tempContext.fillText(chartTitle, tempCanvas.width / 1.9, titleY);
    // Get the data URL of the temporary canvas
    var url = tempCanvas.toDataURL("image/png");

    // Create a link element to download the image
    var a = document.createElement('a');
    a.href = url;
    a.download = 'chart.png';
    document.body.appendChild(a);
    a.click();
    document.body.removeChild(a);
}

        Chart.register(ChartDataLabels);


        // Initialize Donut Chart
        var donutCtx = document.getElementById('donutChart').getContext('2d');
        var donutChart = new Chart(donutCtx, {
            type: 'doughnut',
            data: {
                labels: donutLabels,
                datasets: [{
                    data: donutValues,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.5)', // Sample color
                        'rgba(54, 162, 235, 0.5)', // Sample color
                        'rgba(255, 206, 86, 0.5)' // Sample color
                        // Add more colors if needed
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)', // Sample border color
                        'rgba(54, 162, 235, 1)', // Sample border color
                        'rgba(255, 206, 86, 1)' // Sample border color
                        // Add more colors if needed
                    ],
                    borderWidth: 2
                }]
            },
            options: {
                aspectRatio: 2,
                plugins: {
                    labels: {
                    render: 'value',
                    fontSize: 14,
                    fontStyle: 'bold',
                    fontColor: '#000',
                    fontFamily: '"Lucida Console", Monaco, monospace'
                    
                }
            }
                // Add options here if needed
            }
        });

        // Initialize Academic Year/Month Bar Chart
        var barCtx = document.getElementById('barChart').getContext('2d');
        var barChart = new Chart(barCtx, {
            type: 'bar',
            data: {
                labels: barLabels,
                datasets: [{
                    label: 'Number of Publications',
                    data: barValues,
                    backgroundColor: 'rgba(54, 162, 235, 0.5)', // Sample color
                    borderColor: 'rgba(54, 162, 235, 1)', // Sample border color
                    borderWidth: 2
                }]
            },
            options: {
                aspectRatio: 2,
                plugins: {
                    labels: {
                    render: 'value',
                    fontSize: 14,
                    fontStyle: 'bold',
                    fontColor: '#000',
                    fontFamily: '"Lucida Console", Monaco, monospace'
                }
            }
                // Add options here if needed
            }
        });

        // Initialize Publication Type Bar Chart
        var publicationTypeBarCtx = document.getElementById('publicationTypeBarChart').getContext('2d');
        var publicationTypeBarChart = new Chart(publicationTypeBarCtx, {
            type: 'bar',
            data: {
                labels: publicationTypeLabels,
                datasets: [{
                    label: 'Number of Publications by Type',
                    data: publicationTypeValues,
                    backgroundColor: 'rgba(255, 99, 132, 0.5)', // Sample color
                    borderColor: 'rgba(255, 99, 132, 1)', // Sample border color
                    borderWidth: 2
                }]
            },
            options: {
                aspectRatio: 2,
                plugins: {
                    labels: {
                    render: 'value',
                    fontSize: 14,
                    fontStyle: 'bold',
                    fontColor: '#000',
                    fontFamily: '"Lucida Console", Monaco, monospace'
                }
            }
                // Add options here if needed
            }
        });

        // Initialize Quartile Bar Chart
        var quartileBarCtx = document.getElementById('quartileBarChart').getContext('2d');
        var quartileBarChart = new Chart(quartileBarCtx, {
            type: 'bar',
            data: {
                labels: quartileLabels,
                datasets: [{
                    label: 'Number of Publications by Quartile',
                    data: quartileValues,
                    backgroundColor: 'rgba(75, 192, 192, 0.5)', // Sample color
                    borderColor: 'rgba(75, 192, 192, 1)', // Sample border color
                    borderWidth: 2
                }]
            },
            options: {
                aspectRatio: 2,
                plugins: {
                    labels: {
                    render: 'value',
                    fontSize: 14,
                    fontStyle: 'bold',
                    fontColor: '#000',
                    fontFamily: '"Lucida Console", Monaco, monospace'
                }
            }
                // Add options here if needed
            }
        });

        var yearlyQuartilesBarCtx = document.getElementById('yearlyQuartilesBarChart').getContext('2d');
        var yearlyQuartilesBarChart = new Chart(yearlyQuartilesBarCtx, {
            type: 'bar',
            data: {
                labels: yearwiseLabels,
                datasets: [
                    {
                        label: 'Q1',
                        data: yearwiseValues.map(data => data['Q1']),
                        backgroundColor: 'rgba(255, 99, 132, 0.5)',
                        borderColor: 'rgba(255, 99, 132, 1)',
                        borderWidth: 2
                    },
                    {
                        label: 'Q2',
                        data: yearwiseValues.map(data => data['Q2']),
                        backgroundColor: 'rgba(54, 162, 235, 0.5)',
                        borderColor: 'rgba(54, 162, 235, 1)',
                        borderWidth: 2
                    },
                    {
                        label: 'Q3',
                        data: yearwiseValues.map(data => data['Q3']),
                        backgroundColor: 'rgba(75, 192, 192, 0.5)',
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 2
                    }
                ]
            },
            options: {
                aspectRatio: 2,
                plugins: {
                    labels: {
                        render: 'value',
                        fontSize: 14,
                        fontStyle: 'bold',
                        fontColor: '#000',
                        fontFamily: '"Lucida Console", Monaco, monospace'
                    }
                }
            }
        });
        
        function logOut(){
            $.ajax({
                type: "POST",
                url: "{% url 'log_out' %}",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success: function(response) {
                    alert(response);
                    window.location.replace("/rpa/login");
                }
            });
        }
    
        {% if AY %}
            document.getElementById("AY").value="{{AY}}";
        {% endif %}
    
    </script>
</body>
</html>
